TP06/Beispieldaten/nodered_startBiddingProcess.json
[
    {
        "id": "f547304058c676e8",
        "type": "tab",
        "label": "startBiddingProcess",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "de70bef7c1dbb92c",
        "type": "http in",
        "z": "f547304058c676e8",
        "name": "Method StartBiddingProcess",
        "url": "/aasCommunicationManager/startBiddingProcess",
        "method": "post",
        "upload": true,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "66a177a4670dd457",
                "b930d288d2c84312"
            ]
        ]
    },
    {
        "id": "c32befd7b6cc86b2",
        "type": "http response",
        "z": "f547304058c676e8",
        "name": "response",
        "statusCode": "",
        "headers": {},
        "x": 1240,
        "y": 220,
        "wires": []
    },
    {
        "id": "70b82ff4c7165066",
        "type": "http request",
        "z": "f547304058c676e8",
        "name": "Start Flowable Process Instance",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://flowable:8080/flowable-ui/process-api/runtime/process-instances",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 220,
        "wires": [
            [
                "e0e1203f768bed99",
                "c32befd7b6cc86b2",
                "804afef4ae97e2f1"
            ]
        ]
    },
    {
        "id": "85e63b0406afef26",
        "type": "debug",
        "z": "f547304058c676e8",
        "name": "Response Flowable",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 320,
        "wires": []
    },
    {
        "id": "e0e1203f768bed99",
        "type": "json",
        "z": "f547304058c676e8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 930,
        "y": 320,
        "wires": [
            [
                "85e63b0406afef26"
            ]
        ]
    },
    {
        "id": "b9372de8b94a3cd5",
        "type": "debug",
        "z": "f547304058c676e8",
        "name": "JSON Object",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "b930d288d2c84312",
        "type": "debug",
        "z": "f547304058c676e8",
        "name": "Request Body AAS-Server",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "66a177a4670dd457",
        "type": "function",
        "z": "f547304058c676e8",
        "name": "Transfer AAS Payload to Flowable Payload",
        "func": "//create new Object variable\nvar newJsonObject = {};\n//create new Object for InputVariable\nvar variableName;\nvar variableValue;\n\n//create new Array to insert in Object\nvar variableArray = [];\n\n//set once the Query Parameter\nvariableName = \"reqAasId\";\nvariableValue = msg.req.query.aasId;\n\nvar inputVariableObject = {\n    name: variableName,\n    value: variableValue\n}\nvariableArray.push(inputVariableObject);\n\nfor (var i = 0; i < msg.payload.length; i++){\n\n      if (msg.payload[i].value.modelType == \"SubmodelElementCollection\"){\n        for (var element = 0; element < msg.payload[i].value.value.length; element++){\n            \n            if (msg.payload[i].value.value[element].modelType == \"SubmodelElementCollection\") {\n                for (var nextElement = 0; nextElement < msg.payload[i].value.value[element].value.length; nextElement++) {\n\n                    variableName = msg.payload[i].value.value[element].value[nextElement].idShort;\n                    variableValue = msg.payload[i].value.value[element].value[nextElement].value.keys[0].value;\n\n                    inputVariableObject = {\n                        name: \"submodelReference_\" + variableName,\n                        value: variableValue\n                    }\n    \n                    variableArray.push(inputVariableObject);\n                }\n            } else{\n                variableName = msg.payload[i].value.value[element].idShort;\n                variableValue = msg.payload[i].value.value[element].value;\n\n                inputVariableObject = {\n                    name: variableName,\n                    value: variableValue\n                }\n    \n                variableArray.push(inputVariableObject);\n            }\n        }\n    }\n    else{  \n        variableName = msg.payload[i].value.idShort;\n        variableValue = msg.payload[i].value.value;\n    \n        inputVariableObject = {\n            name: variableName,\n            value: variableValue\n        }\n    \n        variableArray.push(inputVariableObject);\n    }\n}\n\nnewJsonObject = {\n    processDefinitionKey: \"callForProposal\",\n    //processDefinitionKey: \"dummy\",\n    returnVariables: true,\n    variables: variableArray\n}\n\n//flow.set('reqAAS',msg.req.query);\nmsg.payload = newJsonObject\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "70b82ff4c7165066",
                "b9372de8b94a3cd5"
            ]
        ]
    },
    {
        "id": "171db2dbbf32649f",
        "type": "inject",
        "z": "f547304058c676e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "req",
                "v": "{\"_events\":{},\"_readableState\":{\"highWaterMark\":16384,\"buffer\":[],\"bufferIndex\":0,\"length\":0,\"pipes\":[],\"awaitDrainWriters\":null},\"socket\":\"[internal]\",\"httpVersionMajor\":1,\"httpVersionMinor\":1,\"httpVersion\":\"1.1\",\"complete\":true,\"rawHeaders\":[\"accept-encoding\",\"gzip\",\"user-agent\",\"ReactorNetty/1.1.21\",\"host\",\"node-red:1880\",\"Content-Type\",\"application/json\",\"Accept\",\"application/json\",\"content-length\",\"1261\"],\"rawTrailers\":[],\"joinDuplicateHeaders\":null,\"aborted\":false,\"upgrade\":false,\"url\":\"/aasCommunicationManager/startBiddingProcess?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"method\":\"POST\",\"statusCode\":null,\"statusMessage\":null,\"client\":\"[internal]\",\"_consuming\":true,\"_dumped\":false,\"baseUrl\":\"\",\"originalUrl\":\"/aasCommunicationManager/startBiddingProcess?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"_parsedUrl\":{\"protocol\":null,\"slashes\":null,\"auth\":null,\"host\":null,\"port\":null,\"hostname\":null,\"hash\":null,\"search\":\"?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"query\":\"aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"pathname\":\"/aasCommunicationManager/startBiddingProcess\",\"path\":\"/aasCommunicationManager/startBiddingProcess?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"href\":\"/aasCommunicationManager/startBiddingProcess?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\",\"_raw\":\"/aasCommunicationManager/startBiddingProcess?aasId=https://www.arena2036.de/ids/aas/5214_6011_7042_0566\"},\"params\":{},\"query\":{\"aasId\":\"https://www.arena2036.de/ids/aas/5214_6011_7042_0566\"},\"res\":\"[internal]\",\"body\":[{\"value\":{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/interactionElements/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"interactionElements\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/submodelReferences/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"submodelReferences\",\"value\":[{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/submodelReference/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"ProductionOrder\",\"value\":{\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://www.arena2036.de/ids/sm/4404_6011_7042_1836\"}],\"type\":\"ModelReference\"}}]}]}},{\"value\":{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/interactionProcessDefinedVariable/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"time\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Keyword for the Requester to choose the best proposal.\"}],\"idShort\":\"proposalSelectionStrategy\"}}],\"_body\":true,\"_eventsCount\":0,\"route\":{\"path\":\"/aasCommunicationManager/startBiddingProcess\",\"stack\":[{\"name\":\"cookieParser\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"httpMiddleware\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"corsMiddleware\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"metricsHandler\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"jsonParser\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"urlencodedParser\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"multipartParser\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"rawBodyParser\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"},{\"name\":\"<anonymous>\",\"keys\":[],\"regexp\":{\"__enc__\":true,\"type\":\"regexp\",\"data\":\"/^\\\\/?$/i\"},\"method\":\"post\"}],\"methods\":{\"post\":true}},\"cookies\":{},\"signedCookies\":{},\"headers\":{\"accept-encoding\":\"gzip\",\"user-agent\":\"ReactorNetty/1.1.21\",\"host\":\"node-red:1880\",\"content-type\":\"application/json\",\"accept\":\"application/json\",\"content-length\":\"1261\"}}",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"value\":{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/interactionElements/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"interactionElements\",\"value\":[{\"modelType\":\"SubmodelElementCollection\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/submodelReferences/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"submodelReferences\",\"value\":[{\"modelType\":\"ReferenceElement\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/submodelReference/1/0\"}],\"type\":\"ExternalReference\"},\"idShort\":\"ProductionOrder\",\"value\":{\"keys\":[{\"type\":\"Submodel\",\"value\":\"https://www.arena2036.de/ids/sm/4404_6011_7042_1836\"}],\"type\":\"ModelReference\"}}]}]}},{\"value\":{\"modelType\":\"Property\",\"semanticId\":{\"keys\":[{\"type\":\"GlobalReference\",\"value\":\"http://vws4ls.com/sample/submodel/type/messagePaticipant/interactionProcessDefinedVariable/1/0\"}],\"type\":\"ExternalReference\"},\"value\":\"time\",\"valueType\":\"xs:string\",\"description\":[{\"language\":\"en\",\"text\":\"Keyword for the Requester to choose the best proposal.\"}],\"idShort\":\"proposalSelectionStrategy\"}}]",
        "payloadType": "json",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "66a177a4670dd457"
            ]
        ]
    },
    {
        "id": "804afef4ae97e2f1",
        "type": "debug",
        "z": "f547304058c676e8",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 120,
        "wires": []
    }
]